<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>298052784855-iahl6a9o1eggtj799v6dghrsnd247ms4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298052784855-iahl6a9o1eggtj799v6dghrsnd247ms4</string>
	<key>API_KEY</key>
	<string>AIzaSyCQoQoz1eu9FKahdGVvs5E7Hde3UEZXp8E</string>
	<key>GCM_SENDER_ID</key>
	<string>298052784855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itsviplove.ManageMyWallet</string>
	<key>PROJECT_ID</key>
	<string>managemywallet-3a75e</string>
	<key>STORAGE_BUCKET</key>
	<string>managemywallet-3a75e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:298052784855:ios:b8480f54374d8cf7</string>
	<key>DATABASE_URL</key>
	<string>https://managemywallet-3a75e.firebaseio.com</string>
</dict>
</plist>